.bg {
  &--blue {
    overflow: hidden;
    background: $main-bg-color;
    z-index: 1;
    position: relative;
  }
}

.bg--blue__top-part-img {
  position: absolute;
  top: -17vw;
  z-index: 3;

  @media (max-width: $max-mobile-width) {
    display: none;
  }
}
