.cloud-container {
  position: relative;
  height: 0;
  width: 100vw;

  @media (max-width: $max-mobile-width) {
    display: none;
  }
}

.cloud {
  position: absolute;
  z-index: 0;

  &--1 {
    left: -4.5vw;
    top: 55px;
  }

  &--2 {
    right: 24.8vw;
    top: 105px;
  }

  &--3 {
    left: -2.5vw;
    top: -125px;
  }

  &--4 {
    right: -6.5vw;
    top: 105px;
  }

  &--5 {
    left: 31.5vw;
    top: -105px;
  }

  &--6 {
    left: -3.5vw;
    top: -805px;
  }

  &--7 {
    right: 24.8vw;
    top: -705px;
  }

  &--8 {
    left: 15.1vw;
    top: 50px;
  }

  &--9 {
    left: -1vw;
    top: -135px;
  }

  &--10 {
    right: -5.5vw;
    top: -130px;
  }

  &--11 {
    left: -21.5vw;
    top: 20px;
  }

  &--12 {
    left: -10vw;
    top: -100px;
  }

  &--13 {
    right: 6.1vw;
    top: -50px;
  }
}

.block-animation {
  @media (max-width: $max-mobile-width) {
    opacity: 0;
    transition: 1.75s;

    &--active {
      opacity: 1;
    }
  }
}
