@font-face {
  // название шрифта(чтобы не запутаться лучше указать название папки со шрифтом)
  font-family: "Poppins", sans-serif;
  // адрес шрифта и тип
  src: url("./../../public/fonts/Poppins-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  // название шрифта(чтобы не запутаться лучше указать название папки со шрифтом)
  font-family: "Titan One", sans-serif;
  // адрес шрифта и тип
  src: url("./../../public/fonts/TitanOne-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
