@font-face {
  font-family: "Poppins";
  src: url("./../fonts/Poppins-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Poppins";
  src: url("./../fonts/Poppins-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Titan One";
  src: url("./../fonts/TitanOne-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Lato";
  src: url("./../fonts/lato-regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
