.economy__title {
  @include margin-bottom(24px);

  @media (max-width: $max-mobile-width) {
    margin-bottom: 16px;
  }
}

.economy__text {
  @include margin-bottom(48px);
  max-width: 468px;

  @media (max-width: $max-mobile-width) {
    margin-bottom: 40px;
    max-width: none;
  }
}

.economy__list {
  @include list-none();
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (max-width: $max-mobile-width) {
    flex-direction: column;
  }
}
