.main-header {
  padding-top: 32px;

  @media (max-width: $max-mobile-width) {
    padding-top: 12px;
  }

  & .main-header__navigation {
    @media (max-width: $max-mobile-width) {
      z-index: 6;
    }
  }
}

.main-header__mobile-menu-button {
  display: none;
  position: absolute;
  right: 0;
}

.main-header__mobile-menu-container {
  width: 29%;
}
