.main-header {
  padding-top: 32px;
  padding-bottom: 63.26vw;

  @media (max-width: $max-mobile-width) {
    padding-top: 12px;
    padding-bottom: 0;
  }

  & .main-header__navigation {
    position: fixed;
    z-index: 1;
    width: calc(100vw - 64px);
    margin: 0 auto;

    @media (max-width: $max-mobile-width) {
      position: relative;
      z-index: 6;
    }
  }
}

.main-header__mobile-menu-button {
  display: none;
  position: absolute;
  right: 0;
}

.main-header__mobile-menu-container {
  width: 29%;
}
