.our-benefits {
  margin-bottom: 160px;

  @media (max-width: $max-mobile-width) {
    margin-bottom: 120px;
  }
}

.our-benefits__list {
  @include list-none();
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (max-width: $max-mobile-width) {
    flex-direction: column;
  }
}

.our-benefits__title {
  @include margin-bottom(48px);
  max-width: 718px;

  @media (max-width: $max-mobile-width) {
    margin-bottom: 40px;
    max-width: none;
  }
}
