.progress-bar {
  margin-bottom: 32px;
  position: relative;

  @media (max-width: $max-mobile-width) {
    position: absolute;
    left: -160px;
    top: 125px;
    transform: rotate(90deg);
    width: 100%;
  }
}

.progress-bar__points-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.progress-bar__line {
  width: 100%;
  height: 2px;

  &--bg {
    background: rgba(255, 255, 255, 0.3);
    z-index: -2;
  }

  &--progress {
    background: linear-gradient(180deg, #f7de0d 0%, #f7a50d 100%);
    width: 15%;
    position: absolute;
    bottom: 0;
    z-index: -1;
  }
}

.progress-bar__point {
  background: rgb(255, 255, 255, 0.1);
  box-shadow: 0px 2px 0px #81beff;
  border-radius: 4px 56px 56px 4px;
  width: 79px;
  height: 37px;
  font-size: 12px;
  line-height: 14px;
  padding: 8px 12px;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.2);
  margin-bottom: 36px;
  position: relative;

  &::before {
    @include defaul-pseudo-element(2px, 40px);
    background: #81beff;
    bottom: -40px;
    left: 37.5px;
    z-index: -3;

    @media (max-width: $max-mobile-width) {
      transform: rotate(90deg);
      height: 15px;
      bottom: 12px;
      left: 2px;
    }
  }

  &::after {
    @include defaul-pseudo-element(20px, 20px);
    background: #8bccf7;
    box-shadow: 0px 2px 0px #d57709;
    border-radius: 50%;
    bottom: -48px;
    left: 27.5px;
    border: 1px solid #f7a50d;
    z-index: 5;

    @media (max-width: $max-mobile-width) {
      bottom: 10px;
      left: -27px;
    }
  }

  &--quartal {
    font-family: "Titan One";
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: rgba(255, 255, 255, 0.5);
  }

  &--achieved {
    background: #3a426b;
    border: 2px solid #f8ab0e;
    box-shadow: 0px 2px 0px #d57709;

    & .progress-bar__point--quartal,
    & .progress-bar__point--text {
      letter-spacing: 0.01em;

      background: linear-gradient(180deg, #f7de0d 0%, #f7a50d 100%),
        linear-gradient(99.54deg, #799730 4.04%, #151515 110.51%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }

    &::before {
      background: #d57709;
      left: -2px;
    }

    &::after {
      background: linear-gradient(180deg, #f7de0d 0%, #f7a50d 100%),
        linear-gradient(226.3deg, #f8ab0e -12.22%, #ffffff 97.84%);
      left: -10px;
      border: none;

      @media (max-width: $max-mobile-width) {
        bottom: 10px;
        left: -27px;
      }
    }
  }

  @media (max-width: $max-mobile-width) {
    transform: rotate(-90deg);
    margin-left: 5px;
  }
}
