.road-map {
  @media (max-width: $max-mobile-width) {
    padding-bottom: 500px;
    height: max-content;
  }
}

.road-map__title {
  @include margin-bottom(119px);

  @media (max-width: $max-mobile-width) {
    margin-bottom: 99px;
  }
}

.road-map__list {
  @include list-none();

  @media (max-width: $max-mobile-width) {
    margin-left: 35px;
  }
}

.road-map__mobile-container {
  @media (max-width: $max-mobile-width) {
    display: flex;
    position: relative;
  }
}
