.team {
  margin-bottom: 160px;

  @media (max-width: $max-mobile-width) {
    margin-bottom: 120px;
  }
}

.team__title {
  @include margin-bottom(48px);

  @media (max-width: $max-mobile-width) {
    margin-bottom: 40px;
  }
}

.team__list {
  @include list-none();
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px 32px;
  width: 100%;

  @media (max-width: $max-mobile-width) {
    gap: 24px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
