.we-guarantee {
  margin-bottom: 160px;

  @media (max-width: $max-mobile-width) {
    margin-bottom: 120px;
  }
}

.we-guarantee__title {
  @include margin-bottom(48px);

  @media (max-width: $max-mobile-width) {
    margin-bottom: 40px;
  }
}

.we-guarantee__list {
  @include list-none();
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (max-width: $max-mobile-width) {
    flex-direction: column;
  }
}

.we-guarantee__title {
  @include margin-bottom(48px);
  max-width: 718px;
}
