.we-guarantee {
  margin-bottom: 160px;
}

.we-guarantee__title {
  @include margin-bottom(48px);
}

.we-guarantee__list {
  @include list-none();
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (max-width: 1100px) {
    flex-direction: column;
  }
}

.we-guarantee__title {
  @include margin-bottom(48px);
  max-width: 718px;
}
